
// grid
$container-max-width: 1360px;

// colors
$white: #fff;
$dark-grey: #2B373E;
$aqua-light: #32D5CB;
$aqua: #00BCB1;
$aqua-dark: #00988F;

// components' colors
$header-bg: $dark-grey;


// font families
$ff-primary: 'Dosis', sans-serif;
$ff-secondary: 'Pacifico', cursive;
