@import '~normalize.css/normalize.css';
@import 'global';
@import 'utils';


.container {
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
