
$sizes: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
/*
  create helpers in a way:
    .p-20 { padding: 20px} or
    .ml-45 { margin-left: 45px }
    and so on..
*/
// paddings
@each $size in $sizes {
  .p-#{$size} {
    padding: #{$size}px;
  }
  .pt-#{$size} {
    padding-top: #{$size}px;
  }
  .pr-#{$size} {
    padding-right: #{$size}px;
  }
  .pb-#{$size} {
    padding-bottom: #{$size}px;
  }
  .pl-#{$size} {
    padding-left: #{$size}px;
  }
}

// margins
@each $size in $sizes {
  .m-#{$size} {
    margin: #{$size}px;
  }
  .mt-#{$size} {
    margin-top: #{$size}px;
  }
  .mr-#{$size} {
    margin-right: #{$size}px;
  }
  .mb-#{$size} {
    margin-bottom: #{$size}px;
  }
  .ml-#{$size} {
    margin-left: #{$size}px;
  }
}


// display utils
.flex,
.d-flex {
  display: flex;
}

/*
  flex utils:
    .align-center { align-items: center } or
    .justify-center { justify-content: center }
    and so on..
*/

// justify-content
$justify-variants: center, flex-start, flex-end, space-between, space-aroud;
@each $justify-variant in $justify-variants {
  .justify-#{$justify-variant} {
    justify-content: $justify-variant;
  }
}

// align-items
$align-variants: stretch, center, flex-start, flex-end;
@each $align-variant in $align-variants {
  .align-#{$align-variant} {
    align-items: $align-variant;
  }
}

// flex-directions
$directions-variants: row, row-reverse, column, column-reverse;
@each $direction-variant in $directions-variants {
  .flex-#{$direction-variant} {
    flex-direction: #{$direction-variant};
  }
}

.grow-1 {
  flex-grow: 1;
}
